section {
    background-image: url("../../assets/sydney.jpg");
    
    height: 50%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}