<section class="hero is-bold is-light">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Experience
      </h1>
      <h2 class="subtitle">
        Expertise in the following.
      </h2>

      <!-- List all experience with font-awesome icons-->
      <div class="columns is-vcentered is-multiline">
          <div class="column is-2-desktop is-half-mobile">
            <i class="icon fab fa-angular"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-vuejs"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-js-square"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-bootstrap"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-digital-ocean"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-github"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-node"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-python"></i>
          </div>
          <div class="column is-2-desktop is-half-mobile">
              <i class="icon fab fa-sass"></i>
          </div>
        </div>
    </div>
  </div>
</section>